body {
  font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, TW\-Kai, serif;
  margin: 0;
  padding: 0;
	width: 100%;
	height: 100%;
  color: #415166;
  background: #f2f2f2;
}

/* 导航栏 */
.nav {
	position: fixed;
  top: 0;
	width: 100%;
  z-index: 5;
}

.main-nav,
.sub-nav {
	margin: 0 auto;
	padding: 0;
}

.main-nav {
  text-align: center;
}

.main-nav li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.main-nav li a {
  display: block;
  padding: 15px;
  text-decoration: none;
 	color: #415166;
}

.main-nav li a:hover,
.main-nav .active a {
  color: #408CF3;
}

.active {
  margin-bottom: -1px;
  border-bottom: 1px solid #fff;
}

.main-nav .sub-nav {
  position: absolute;
  margin-top: 30px;
 	opacity: 0;
  text-align: left;
  width: 100px;
  background-color: rgba(255,255,255,.9);
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
 	pointer-events: none;
  z-index: 1000;
  transition: all .3s;
}

.main-nav .menu:hover .sub-nav {
  margin-top: 0;
  opacity: 1;
  pointer-events: auto;
}

.main-nav .sub-nav li a {
  width: 100px;
  padding: 10px 15px;
 	color: #333;
}

.main-nav .sub-nav li a:hover,
.main-nav .sub-nav .active a {
  color: #2ECC71;
}

/* 第一个屏幕 */
#first-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/bg.jpg") no-repeat center;
	background-attachment: fixed;
	background-size: cover;
}

/* 第一个屏幕的内容 */
.title {
  margin-top: 150px;
  text-align: center;
  font-family: ralewaythin,'microsoft yahei';
}

.title h1 {
  padding: 10px;
  letter-spacing: 2px;
  border-top: 1px solid #415166;
  border-bottom: 1px solid #415166;
  font-size: 60px;
}

/* 第二个屏幕 */
#second-screen {
	position: absolute;
	top: 100%;
	width: 100%;
  background: #fff;
}

/* HTML */
.block {
  padding: 60px 0;
}

.block-gray {
  background-color: #f2f2f2;
}

.hr-white {
  border-color: #fff;
}

.img {
  position: relative;
  height: 250px;
}

.block img {
  position: absolute;
  margin: 0 auto;
}

.my-btn {
  color: #415166;
  background-color: transparent;
  border-color: #415166;
}

.my-btn:hover {
  color: #fff;
  background-color: #408CF3;
  border-color: #408CF3;
}

/* posts */
.note-header {
  border-bottom: 4px solid #ccc;
}

.time-line {

}

.time {
  height: 90px;
  margin: 25px 0;
  padding: 15px 25px;
  text-align: right;
}

.time p {
  margin: 0;
  line-height: 60px;
}

.time-content {
  position: relative;
  padding: 25px;
  border-left: 4px solid #ccc;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -12px;
  margin-top: -10px;
  background: #408CF3;
  border-radius: 50%;
}

.time-title {
  position: relative;
  height: 90px;
  padding: 15px;
  background: #fff;
}

.time-title::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right-color: #fff;
}

.time-title a {
  font-size: 19px;
}