body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #23719F;
}
.box {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
}
.content {
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: 80%;
	-webkit-transform-style: preserve-3d;
}
.past {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: rotateY(-90deg);
	-webkit-transform-origin: 50% 50% -800px;
	-webkit-animation: 1s;
}
.present {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transform:rotateY(0deg);
	-webkit-transform-origin: 50% 50% -800px;
	-webkit-animation: 1s;
}
.future {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: rotateY(90deg);
	-webkit-transform-origin: 50% 50% -800px;
	-webkit-animation: 1s;
}
section {
	
}
section h1 {
	margin: 0;
	font-family: 'Cabin Sketch',arial,sans-serif;
	text-shadow: 3px 3px 0 #ddd;
	color: #193340;
	font-size: 5em;
	line-height: 1.5em;
	text-align: center;
}
section p {
	color: #333;
	font-size: 2em;
	text-align: center;
}
section strong {
	color: #ddd;
	font-weight: 400;
	font-size: 1.2em;
	padding: 0 5px;
}
section a {
	text-decoration: none;
	color: #ddd;
}
section a:hover {
	text-decoration: none;
	color: #428bca;
}
.foot {
	position: fixed;
	bottom: 0;
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	background: rgba(255, 255, 255, .9);
	color: #333;
}
@-webkit-keyframes presentMove {
	0% {
		-webkit-transform: rotateY(0deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateY(-90deg);
		opacity: 0;
	}
}
@-webkit-keyframes futureMove {
	0% {
		-webkit-transform: rotateY(90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes presentBack {
	0% {
		-webkit-transform: rotateY(0deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateY(90deg);
		opacity: 0;
	}
}
@-webkit-keyframes pastBack {
	0% {
		-webkit-transform: rotateY(-90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes noMove {
	0% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(-30deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes noBack {
	0% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(30deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
	}
}